@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Chettan 2", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(106, 95, 205), rgb(17, 12, 65));
}

/* TODO: Search Button Classes 
   TODO: Hidden Search Widged Classes */
